* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
.sub-header {
  background-color: #fff;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  height: 50px;
}
.sub-header ul.info li i {
  font-size: 20px;
  color: orangered;
  margin-right: 8px;
}
.sub-header ul.info li {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 14px;
  border-right: 1px solid #eee;
  margin-right: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.info li {
  margin-right: 20px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
}
.info li i {
  margin-right: 8px;
}
.sub-header ul.social-links {
  text-align: right;
}
.sub-header ul.social-links li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #cdcdcd;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s;
  padding-bottom: 20px;
}
.sub-header ul.social-links li a:hover {
  background-color: orangered;
}
.sub-header ul li {
  display: inline-block;
  margin: 0px 0px 0px 8px;
}

/* navbar starts */
.header-area {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 100px;
  background-color: #fff;
}

.background-header {
  background-color:white;
  transition: height 0.3s ease-in-out;
  height: 90px !important;
}
 

.header-area .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header-area .main-nav .logo h1 {
  font-size: 28px;
  line-height: 100px;
  color: black;
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: 700;
}
a {
  text-decoration: none !important;
}
.header-area .main-nav ul.nav {
  display: flex;
  justify-content: right;
  flex-basis: 100%;
  margin-top: 50px;
  
  -webkit-transition: all 0.3s ease 0s;
  
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav ul.nav li {
  
  padding-left: 5px;
  padding-right: 5px;
  height: 100px;
}

.header-area .main-nav ul.nav li a {
  display: block;
  padding-right: 20px;
 
  font-weight: 500;
  font-size: 15px;
  color: black;
  border: transparent;
  text-transform: capitalize;
  letter-spacing: 0.25px;
  margin-top: 10px;
}

.header-area .main-nav ul.nav li a:hover {
  color: #f36d33;
 
}

.header-area .main-nav ul.nav li:last-child a {
  background-color: #1e1e1e;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  border-radius: 20px;
  
  margin: 0;
}
.header-area .main-nav .nav li:last-child a i {
  background-color: #f35525;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.content {
  padding-top: 100px; /* Ensure content starts below the sticky header */
}

.header-area.sticky .background-header {
  height: 0;
  overflow: hidden;
}

/* page heading starts */
.page-heading{
  background-image: url('/images/page-heading-bg.jpg');
  background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}
.page-heading span{
  background-color: #fff;
  display: inline-block;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px; 
  font-weight: 600;
}
.page-heading span a{
  color: #1e1e1e;
  font-weight: 600;
}
.page-heading h3{
  color:white;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
}
/* page area ends */
/* filter area starts */
.section{
  margin-top: 120px;
}
.properties ul.properties-filter
{
  text-align: center;
  list-style: none;
  margin-bottom: 70px;
  
}
.properties ul.properties-filter li{
  margin-bottom: 10px;
  display: inline-block;
  margin: 5px 10px 5px 5px;
 

}
.properties ul.properties-filter li a{
  color: white;
  padding: 13px;
  height: 8px;
  background-color: black;
  border-radius: 5px;
}
.properties ul.properties-filter li a:hover{
  color: #ffffff;
  background-color:#f35525;

}
